<!-- include nav snippet at top of main div and add either header snippet
     after or paste-in button html -->

<!-- Nav Menu -->
<div id="mySidenav" class="sidenav">
  <p>Get in touch:</p>
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="mailto:hello@lukehod.net">Email</a>
  <a href="https://github.com/lukehod">Github</a>
  <!-- <a href="{{ site.baseurl }}/about">About</a> -->
  <!-- <a href="{{ site.baseurl }}/">Blog</a> -->
  <!-- <a href="#">Projects</a> -->
  <!-- <a href="#">Contact</a> -->
</div>
